.panel {
  border: 1px solid var(--clr-neutral-8);
  padding: 0.5em;
  border-radius: 0.5rem;
}

.panel h3 {
  font-weight: 500;
}

.list {
  --line-height: 1.25rem;

  margin-left: none;
  margin-top: 0.5em;
  height: calc(var(--line-height) * 3);
  overflow: hidden;
  interpolate-size: allow-keywords;
  transition: height 0.2s ease;
}

.list.visible {
  height: auto;
  height: calc-size(auto);
}

.showLabelBtn {
  display: block;
  cursor: pointer;
  color: var(--clr-primary-5);
  text-align: center;
  margin-top: 1em;
}

.showLabelBtn:hover,
.showLabelBtn:focus {
  text-decoration: underline;
}

.panel input {
  display: none;
}

.list li {
  display: flex;
  justify-content: space-between;
  line-height: var(--line-height);
  color: var(--clr-neutral-1);
}
