.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 0.5em;
}

.header h1 {
  font-size: 4rem;
  font-weight: 350;
  text-transform: uppercase;
}

.main {
  padding: 1em;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 1em;
  gap: 1em;
  border: 1px solid var(--clr-neutral-6);
  border-radius: 1rem;
}

.form {
  border-right: 1px solid var(--clr-neutral-8);
  padding-right: 1em;
  display: grid;
  grid-template: 1fr;
  max-width: calc(385px + 1em);
  width: 50%;
}

.form__select {
  display: grid;
  place-items: center;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: calc(1em - 0.5em);
  width: 100%;
  max-width: 384px;
}

.form__select input {
  display: none;
}

.form__select:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.form__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  border-radius: inherit;
}

.app {
  flex-grow: 1;
}

.app__cloudName {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-weight: 720;
  text-transform: capitalize;
}

.app__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 1em;
}

.app__detailPanel {
  border: 1px solid var(--clr-neutral-8);
  padding: 0.5em;
}

.app__detailPanel h3 {
  font-weight: 500;
}

footer {
  min-height: 30vh;
  padding: 1em;
  margin-top: 1em;
  border-top: 1px solid var(--clr-neutral-8);
}
